<div style="background-color: #464545; padding: 20px;">
  <div mat-dialog-content class="wrapper">
    <p style="color: white; font-size: 18px;
    font-family: 'georgia';
    font-weight: bold;
    text-align: center;">Do you really want to delete this item?</p>
  </div>
  <div mat-dialog-actions style="display: block;
  margin-left: 80px;
  margin-right: 30px ">
    <button mat-button  class="btn btn-warning" style="margin-right: 10px;" (click)="dialogRef.close(false)">No</button>
    <button mat-button class="btn btn-danger" color="warn" (click)="dialogRef.close(true)">Yes</button>
  </div>
</div>