
<!-- breadcrumb start-->
 <section class="regervation_part section_padding" style="margin-top: 100px;" >
  <div class="container">
      <div class="row">
          <div class="col-xl-5">
              <div class="section_tittle">
                  <h2>Dashboard Admin</h2>
              </div>
          </div>
      </div>
<!-- breadcrumb start-->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link" 
            id="chefs-tab" 
            (click)="activeTab = 'chefs'"
            [class.active]="activeTab === 'chefs'"
            data-bs-toggle="tab" 
            data-bs-target="#chefs" 
            type="button" 
            role="tab" 
            aria-controls="chefs" 
            aria-selected="false" 
            [routerLink]="['/admin/chefs']" 
            routerLinkActive="active">
      Chefs
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" 
            id="plats-tab" 
            (click)="activeTab = 'plats'"
            [class.active]="activeTab === 'plats'"
            data-bs-toggle="tab" 
            data-bs-target="#plats" 
            type="button" 
            role="tab" 
            aria-controls="plats" 
            aria-selected="false" 
            [routerLink]="['/admin/plats']" 
            routerLinkActive="active">
      Plats
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" 
            id="users-tab" 
            (click)="activeTab = 'users'"
            [class.active]="activeTab === 'users'"
            data-bs-toggle="tab" 
            data-bs-target="#users" 
            type="button" 
            role="tab" 
            aria-controls="users" 
            aria-selected="false" 
            [routerLink]="['/admin/users']" 
            routerLinkActive="active">
      Users
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" 
            id="tables-tab" 
            (click)="activeTab = 'tables'"
            [class.active]="activeTab === 'tables'"
            data-bs-toggle="tab" 
            data-bs-target="#tables" 
            type="button" 
            role="tab" 
            aria-controls="tables" 
            aria-selected="false" 
            [routerLink]="['/admin/tables']" 
            routerLinkActive="active">
      Tables
    </button>
  </li>
</ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" *ngIf="activeTab === 'chefs'|| activeTab === ''" id="chefs" role="tabpanel" aria-labelledby="chefs-tab">
        <app-chefs-tabs></app-chefs-tabs>
    </div>
    <div class="tab-pane fade show active" *ngIf="activeTab === 'plats'" id="plats" role="tabpanel" aria-labelledby="plats-tab">
     <app-plats-tab ></app-plats-tab>
  </div>
  <div class="tab-pane fade show active" *ngIf="activeTab === 'users'" id="users" role="tabpanel" aria-labelledby="users-tab">
    <app-user-tab></app-user-tab>
  </div>
<div class="tab-pane fade show active" *ngIf="activeTab === 'tables'" id="tables" role="tabpanel" aria-labelledby="tables-tab">
 <app-tables-tab ></app-tables-tab>
</div>
  </div>
